name: Test - Node
on:
  workflow_dispatch:
 
jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ '18', '20', '22']
    name: Test - Node ${{ matrix.version }}

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Instalar dependências
        working-directory: .
        run: npm install

      - name: Executar teste node
        working-directory: .
        run: npm run test